[user]
    name = Sebastian Steenssøe
    email = vildmedpap@gmail.com
[init]
    defaultBranch = main
[core]
    pager = bat --paging=always||less
[alias]
    rank = shortlog -sn --no-merges
[grep]
	lineNumber = true