[user]
    name = Sebastian Steenssøe
    email = vildmedpap@gmail.com
[init]
    defaultBranch = main
[core]
    pager = bat --paging=always||less
[column]
    ui = auto
[branch]
    sort = -committerdate
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[alias]
    rank = shortlog -sn --no-merges
[grep]
	lineNumber = true
[commit]
	template = ~/.gitmessage
[push]
    default = simple
    autoSetupRemote = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt